.banner {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.banner__new {
  position: absolute;
}
.banner__new img {
  width: 100%;
}
.banner__description {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}
.banner__description p {
  background: rgba(0, 0, 0, 0.582);
  padding: 20px;
}
